<div>
  <div>
    <h1>
      Recommendation #<%= @the_recommendation.id %> details
    </h1>

    <div>
      <div>
        <a href="/recommendations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recommendation/<%= @the_recommendation.id %>">
          Delete recommendation
        </a>
      </div>
    </div>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recommendation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recommendation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% @messages = @the_recommendation.messages.order(:created_at) %>

<dl>
  <% @messages.each do |a_message| %>
    <dt><%= a_message.role%></dt>
    <dd><%= a_message.content%></dd>
  <% end %>

  <dt>user</dt>
  <dd>
    <form action="/insert_message" method ="post">
      <textarea placeholder="Enter your response here..." cols="50" name="query_content"></textarea>
    
      <input type="hidden" name="query_rec_id" value = "<%= @the_recommendation.id %>">
    
      <button>Add message</button>
    </form>
  </dd>
</dl>
