<div>
  <div>
    <h1>
      Recommendation #<%= @the_recommendation.id %> details
    </h1>

    <div>
      <div>
        <a href="/recommendations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recommendation/<%= @the_recommendation.id %>">
          Delete recommendation
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_recommendation.user_id %>
      </dd>

      <dt>
        Visit type
      </dt>
      <dd>
        <%= @the_recommendation.visit_type %>
      </dd>

      <dt>
        Interests
      </dt>
      <dd>
        <%= @the_recommendation.interests %>
      </dd>

      <dt>
        Other content
      </dt>
      <dd>
        <%= @the_recommendation.other_content %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recommendation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recommendation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% @messages = Message.all.where({ :rec_id => @the_recommendation.id }) %>

<dl>
  <% @messages.each do |a_message| %>
    <dt><%= a_message.role%></dt>
    <dd><%= a_message.content%></dd>
  <% end %>
</dl>
